.mlmaindiv{
    display: flex;
    width: 100%;
    height: 100vh;
    background-color: #839788;
    justify-content: center;
    align-items: center;

}


.ltxtsdiv{
    font-family: monospace;
    background: rgba(255, 255, 255, 0.452);
    backdrop-filter: blur(30px);
    height: 60%;
    border-radius: 30px;
    display: flex; 
    padding: 50px;
    flex-direction: column;
    justify-content: center;

    text-align: center;
    width: 30%;
}

.lcustomerbtn{

    background-color: #363537;
    
    padding: 20px;
    color: white;
    
    border-radius: 20px;
    transition: 0.5s;
}

.lcustomerbtn:hover{
    padding-bottom: 40px;
    box-shadow: 2px 2px 5px black;
}
.lfarmerbtn:hover{
    padding-bottom: 40px;
    box-shadow: 2px 2px 5px black;
}

.lfarmerbtn{
    margin-top: 10px;
    background-color: #363537;
    padding: 20px;
    color: white;
    
    border-radius: 20px;
    transition: 0.5s;
}